.grey
{
    width:760px;
    height:360px;
    padding-top: 20px;
    background-color:#454747;
    margin-left:150px; ;
    border-style: groove;
    color: #454747;
}
   
.white
{
    background-color: white;
    height: 1100px;
    width:1100px;
    margin-left: 120px;
    border:white;
}
.box
{
    margin-left: 150px;
    background-color:gainsboro;
    width: 760px;
    height: 80px;
}
li{
    float:left;
}
li a:hover {
    background-color: #111111;
}

li a
{
    display:block;
    color:white;
    text-align: centre;
    padding:16px;
    text-decoration: none;
}

ul {
    margin-left: 150px;
    background-color: #333333;
    width: 1000px;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    }
.gray
{
    height:80px;
    width: 760px;
    background-color: #454747;
    margin-left:150px;
}
.container1
{
    width:180px ;
    height: 315px;
    margin-left: 150px;
    background-color: #454747;
    display: inline-block;
}
.container2
{
    width:180px ;
    height: 315px;
    margin-left: 10px;
    background-color: #454747;
    display: inline-block;
}
.image1
{
    width: 180px;
    height: 30px;
    margin-left: 150px;
    background-color: gainsboro;
    margin-top: -25px;
}
.image2
{
    width: 180px;
    height: 30px ;
    margin-left: 345px ;
    background-color: gainsboro;
    margin-top: -50px;
}
.image3
{
    width: 180px ;
    height: 30px;
    margin-left:538px ;
    background-color: gainsboro;
    margin-top: -50px;
}
.image4
{   
    width: 180px ;
    height: 30px;
    margin-left: 733px;
    background-color: gainsboro;
    margin-top: -50px;
}
.footer
{
    margin-left: 120px ;
    width: 1100px;
    height: 40px ;
    background-color: #333333;
    border:#333333;
}