.box
{
    /* box-sizing: border-box;*/
    position: relative;
    margin-left: 10%;
     width:88%; 
    height:16%;
    margin:2% auto;
    border:1px solid white;
    background-color: rgba(160, 158, 158, 0.116);
    border-radius: 1rem;
    box-shadow: 5px 0px 1px white;
}
.countryName
{
    position:absolute;
    top:25%;
    left:16%;
    color:black;
    font-weight: bold;
    font-size: 14px;
}
.affected
{
    color:rgba(0, 0, 0, 0.712);
    font-size:10px;
    position: absolute;
    top:68%;
    left:3%;
}